@import url('https://fonts.googleapis.com/css?family=Livvic&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Livvic', sans-serif;
}

#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 15;
}
.navbar
{
    background-image: linear-gradient(to right, #FC466B, #3F5EFB);
    padding: 0 !important;
}
.navbar-nav li
{
    padding: 0px 10px;
}
.navbar-brand{
    padding: 0 10px;
    color: #fff !important;
    font-weight: 700;
}
.navbar-nav li a
{
    color: #fff !important;
    padding: 0px 10px;
    font-weight: 500;
    float: right;
    text-align: left;
}
.fa-bars
{
    color: #fff !important;
    font-size: 30px;
}
.navbar-toggler
{
    outline: none !important;
}
/*--------------Banner Section-----------------*/

#banner
{
    background-image: linear-gradient(to right, #FC466B, #3F5EFB);
    color: #fff;
    padding-top: 5%;
}
.nametop
{
    font-size: 25px;
    
}
.name
{
    font-size: 55px;
    font-weight: 400;
}
.namedetails
{
    font-size: 25px;
}
.col-md-6.a 
{
    width: 45px;
    height: 50px;
}
.logo
{
    border-radius: 50%;
    width: 350px;
    height: 350px;
    padding-bottom: 10%;
}
.bottom-img
{
    width: 100%;
}
#skills button
{
    position: relative !important;
    padding: 20px 40px !important;
    background-image: linear-gradient(to right, #FC466B, #3F5EFB);
    color: #fff !important;
    text-transform: uppercase !important;
    text-decoration: none !important;
    letter-spacing: 4px !important;
    transform-style: preserve-3d !important;
    transition: ease-in-out 2s !important;
    border-radius: 60px !important;
} 
#skills button:hover
{
    transform: rotateX(360deg) !important;
}
#skills button span
{
    display: block !important;
    font-weight: bold !important;
    transform-style: preserve-3d !important;
    transform: perspective(100px) translateZ(20px) !important;
}
#skills button span:before
{
    content: '';
    position: absolute;
    top: 4px;
    right: 6px;
    left: 6px;
    border: 2px black;
    transform-style: preserve-3d !important;
    transform: perspective(500px) translateZ(15px) !important;
    border-radius: 60px;
}
#skills button span:after
{
    content: '' !important;
    position: absolute !important;
    top: 2px !important;
    right: 2px;
    left: 2px;
    border: 2px white;
    transform-style: preserve-3d !important;
    transform: perspective(500px) translateZ(15px) !important;
    border-radius: 60px;
}

/*--------Skills Section-------*/
#skills
{
    padding: 80px 0;
}
.skills-icon
{
    width: 100px;
    height: 100px;
    margin-top: 20px;
}
.skills h4{
    text-transform: uppercase;
    padding: 5px;
    margin-top: 25px;
}

.title::before
{
    content: '';
    background-color: #FC466B;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
    border-radius: 25px; 
}
.title::after
{
    content: '';
    background-color: #FC466B;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 40px;
    transform: translateY(8px); 
}
#skills .btn-primary
{
    box-shadow: none;
    padding: 8px 45px;
    background-image: linear-gradient(to right, #FC466B, #3F5EFB);
    border: none;
    border-radius: 25px;
    margin-top: 15px;
}

/*----------About Us Section-----------*/
#about
{
    background: #f9f8fa;
    padding-top: 25px;
    padding-bottom: 25px;
}
#about li
{
    margin-left: 5px;
}
#pj
{
    width: 300px;
    height: 300px;
    padding: 20px;
    margin-left: 35px;
    display: inline-block;
}
#PImage
{
    display: none;
    width: 250px;
    padding: 4px;
}
#PHead
{
    display: none;
}
#PDetail
{
    display: none;
}
#about ul li
{
    font-size: 22px;
    padding-top: 12px;
    
}

/*----------Social Media Section------------*/

#social
{
    text-transform: uppercase;
    padding-top: 25px;
    padding-bottom: 100px;

}
.social-icon span
{
    text-decoration: none;
    color: black;
    margin-left: -10%;
    margin-top: 5%;
    
    position: absolute;
    opacity: 0;
    transition: ease-in-out 1.5s;
    z-index: -2;
}
.social-icon img
{
    width: 160px;
    transition: 3s;
}
.social-icon a:hover img
{
    /*transform: rotateY(360deg); */
    transform: scale(1.1);
}
.social-icon a:hover span
{
    opacity: 100;
    margin-top: 14%;
}

/*----------Footer Section-----------*/

#footer
{
    background-image: linear-gradient(to right, #FC466B, #3F5EFB);
    color: #fff;   
    
}
.footer-img
{
    width: 100%;
    margin-top: -2px;
    padding: 0;
}
.footer-box
{
    padding: 50px;
}
.footer-box h4
{
    font-weight: 600;

}
.rights
{
    padding-bottom: 10px;
    margin-bottom: 0;
}
.footer-box .fa
{
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 7px;
    background-image: linear-gradient(to left, #FC466B, #3F5EFB);
}
hr
{
    color: #fff;
}